header{
    .logo {
        margin: 0px;
        padding:0px;
        @media only screen and (max-width: $break-point-large) {
            width:39%;
        }
        @media only screen and (max-width: $break-point-medium) {
            width:39%;
        }
        @media only screen and (max-width: $break-point-midsmall) {
            width:50%;
        }
        img {
            margin-top: 40px;
            width: 100%;
            @media only screen and (max-width: $break-point-medium - 1) {
                width: 100%;
                margin-top: 15px;
                margin-bottom:10px;
            }
        }
    }
    .header {
        background: $dark-blue;
        color: $white;
        padding: 0 0 $gap-small 0px;
        @media only screen and (max-width: $break-point-medium - 1) {
            padding-bottom:10px;
            border-bottom:2px solid $charcoal;
            min-height: 100px;
        }
        .header-right {
            padding-right: 0px;
            @media only screen and (max-width: $break-point-large) {
                float:right;
                width:61%;
                padding:0px;
            } 
            section{
                float: right;
                margin-top: 20px;
                margin-left:20px;
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li {
                        float: left;
                        a {
                            display: block;
                            color: $white;
                            line-height: 10px;
                        }
                    }
                }
                @media only screen and (max-width: $break-point-large) {
                    margin-left:5px;
                    &.block-search-api-page {
                        width:200px;
                    }
                } 
                @media only screen and (max-width: $break-point-medium - 1) {
                    display:none;
                    &.block-search-api-page {

                        width: 100%;

                    }
                } 

            }
            a {
                color: $white;
            }

            .block-search-api-page {
                background: $white none repeat scroll 0 0;
                clear: both;
                padding: 0;
                width: 360px;
                border-radius: 6px;
                input.form-text {
                    background: transparent none repeat scroll 0 0;
                    border: 0 none;
                    box-shadow: none;
                    float: left;
                    height: auto;
                    padding: 13px 20px 15px;
                    width: 260px;
                    @include placeholder-color($charcoal);
                    @media only screen and (max-width: $break-point-large) {
                        width: 140px;
                        padding: 13px 15px 15px;
                    } 
                    @media only screen and (max-width: $break-point-medium - 1) {
                        width: 80%;
                        padding: 13px 15px 15px;
                    } 
                }
                .form-group {
                    margin:0px;
                }
                .form-submit {
                    //@include background-image('link-search-26px.png');
                    background: transparent;
                    border: medium none;
                    float: right;
                    height: 48px;
                    //margin-right: 51px;
                    padding: 0;
                    width: 33px;
                    line-height: 0;
                    visibility: hidden;
                    margin-top: -3px;
                    position: absolute;
                    right: 50px;
                    &:active{
                        box-shadow: none;
                    }
                    &:after {
                        @include fa-icon('\f002', $grey, 2em);
                        line-height: 20px;
                        visibility: visible;
                    }
                }
            }
            .block-menu {
                li {
                    padding: 10px 10px 10px 0px
                }
                a {
                    font-size: 16px;
                    padding: 0px 10px 0 0;
                    border-right: 1px solid $white;
                    &:hover {
                        background: transparent;
                        text-decoration: underline;
                    }
                    &:focus {
                        background: transparent;
                    }
                }
                .last {
                    padding-right: 0px;
                    a {
                        padding-right: 0px;
                        border:none;
                    }
                }
            }

        }
        .responsive-search-icon{
            position: absolute;
            width: 35px;
            height: 45px;
            right: 65px;
            top: 22px;
            cursor: pointer;
            @include background-image('link-search-26px.png');
            text-indent: -9999px;
            background-size: auto 22px;
            &.opened {
                @include background-image('close-cross.png');
                background-size: auto auto;
            }
        }

    }

}