/*
Main title DIV with background image and underline 
*/
div.title {
    background: transparent;
    padding: 80px 0px;
    @include background-image($bg-title-home, center, bottom);
    background-size: cover;
    h1 {
        color: $white;
        border:0px;
        margin: 0px;
    }
}

body.section-become-a-registered-attorney {
    div.title {
        @include background-image($bg-title-become, center, bottom);
    }
}
body.section-for-registered-attorneys {
    div.title {
        @include background-image($bg-title-registered, center, bottom);
    }
}
body.section-for-the-public {
    div.title {
        @include background-image($bg-title-community, center, bottom);
    }
}
body.section-resources {
    div.title {
        @include background-image($bg-title-resources, center, bottom);
    }
}