/* All content styles, such as lists, tables, paragraphs */

body {
  font-size: 1em;
  line-height: 1.4;
}

/* Highlight text color */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*updates file icons to be inline with content and small amount of space around */
img.file-icon {
  display: inline-block;
  margin: 0 3px;
}

#content a {
    color: #005fe0;
}


/* Background color and removes shadows */
#page {
  background: #f3f3f3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*html table styles */
table {margin: 1em 0; border-spacing: 1;border: #666 2px solid;}
#page table {width: 100%;}
td, th {padding: 5px 2%; word-wrap: break-word; text-align: left; color: #666; border: #666 2px solid;}
tr.alt {background: #e1e1e1;}

/* top of page link styles */
#content .return-top, #content .return-top a {
  clear: right;
  float: right;
  margin: 16px 0 24px;
}
#content .return-top, #content .return-top a {
  padding: 0 50px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #1e3048;
  background: url("../images/psb-top.png") no-repeat right;
  min-height: 21px;
  line-height: 21px;
}

.last-updated-wrapper {
  float:left;
  font-style: italic;
}

/*Print Icon*/

.print-page {
  cursor: pointer;
  text-decoration:underline;
}

.action-buttons{
  float:right;
}

.print-page-wrapper, .listen-page-wrapper {
  float:left;
  padding-left:25px;
}

.print-page:before {
  margin-right: 10px;
  display: inline-block;
  content: '';
  background: url("../images/psb-print.png") no-repeat right;
  width: 16px;
  height: 15px;
}

.listen-page:before {
  margin-right: 10px;
  display: inline-block;
  content: '';
  background: url("../images/speaker.png") no-repeat right;
  width: 16px;
  height: 15px;
}

.section-complaints h1, .section-complaints h2, .section-complaints h3, .section-complaints .sidebar .block .block__title {
  color:#6a7b27;
}

.section-registered-attorneys h1, .section-registered-attorneys h2, .section-registered-attorneys h3, .section-registered-attorneys .sidebar .block .block__title {
  color:#5a4f8f;
}

.section-about-us h1, .section-about-us h2, .section-about-us h3, .section-about-us .sidebar .block .block__title {
  color:#000;
}

.section-attorney-registration h1, .section-attorney-registration h2, .section-attorney-registration h3, .section-attorney-registration .sidebar .block .block__title {
  color:#9a6130;
}

.active-trail .complaints, .complaints:hover {
  color:#fff !important;
  background:#6a7b27 !important;
}

.active-trail .registered-attorneys, .registered-attorneys:hover {
  color:#fff !important;
  background:#5a4f8f !important;
}

.active-trail .about-us, .about-us:hover {
  color:#fff !important;
  background:#000 !important;
}

.active-trail .attorney-registration, .attorney-registration:hover  {
  color:#fff !important;
  background:#9a6130 !important;
}

.active-trail .forms-title, .forms-title:hover {
  color:#fff !important;
  background:#1e3048 !important;
}
#logo img {
  max-height:100px;
}
