/*GLobal Styles */

body.front #content {
width:100%;
}


.front .panel-pane {
    border-top: none;
}


body.front li {
    list-style: none;
}

#content a {
    color: #005fe0;
}

.attorney p {
color: #9a6130;
}

.attorney a {
color: #9a6130;
font-size: 1.2em;
}

.find p {
color: #2f5a94;
}

.find a {
color: #2f5a94;
font-size: 1.2em;
}


.registered p {
color: #5a4f8f;
}

.registered a {
color: #5a4f8f;
font-size:1.2em;
}

.registered ul li a, p{
  font-size:1.1em !important;
}
.complaint p {
color: #6a7b27;
}

.complaint a {
color: #6a7b27;
font-size: 1.2em;
}


.attorney-button {

color: #fff !important;
    width: 180px;
    display: block;
    padding: 9px 24px;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
	background: #9a6130;
	margin-top:25px;
	margin-bottom:20px;

}



.find-button {

color: #fff !important;
    width: 180px;
    display: block;
    padding: 9px 24px;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
	background: #2f5a94;
	min-width:250px;
	margin-top:25px;

}
.complaint-button {

color: #fff !important;
    width: 180px;
    display: block;
    padding: 9px 24px;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
	background: #6a7b27;
	min-width:220px;
	margin-top:25px;

}

.attorney-button:hover {
  background: #b67339;
}

.find-button:hover {
  background: #386bb1;
}

.complaint-button:hover {
  background: #859b31;
}

#contents-inner .homepage-column {
    float: left;
    width: 31.22%;
    margin: 0 0 0 1.05%;
    padding: 0 0 0 1.05%;
    background: url("../img/column-divider.png") no-repeat;
}

.homepage-pane {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  padding-bottom: 15px;
 }

 /* forms listing */
 img.file-icon {
   display: inline !important;
 }
 .home-forms-listing .file-icon {
   display: inline !important;
 }
 .field-type-file a {
   display:inline !important;
 }
/* make forms listing nice and succinct */
#content .views-row {
  margin: 0 !important;
  padding: 0 !important;
}
.view-content {
  margin-top:5px;
}
.home-attorney-register p, .home-attorney-register h2 a {color: #9a6130 !important}
.home-attorney-search p, .home-attorney-search h2 a {color: #2f5a94  !important}
.home-make-complaint p, .home-make-complaint h2 a{color: #6a7b27 !important}
.home-forms-listing p, .home-forms-listing h2 a{color: #1e3048 !important}
.home-registered-attorneys p, .home-registered-attorneys h2, .home-registered-attorneys a {color:#5a4f8f !important}

#content .home-forms-listing .formtitle > span:first-child,
#content .home-attorney-register .attorney > span:first-child,
#content .home-registered-attorneys .registered > span:first-child,
#content .home-attorney-search .find > span:first-child,
#content .home-make-complaint .complaint > span:first-child {
  position: relative;
  float:left;
  top: 25px;
  left: 0;
  display: block;
  width: 65px;
  height: 64px;
}
#content .home-attorney-register .attorney > span:first-child {
  background: url("../images/attorney.png") no-repeat;
}
#content .home-registered-attorneys .registered > span:first-child {
  background: url("../images/find.png") no-repeat;
}
#content .home-attorney-search .find > span:first-child {
  background: url("../images/registered.png") no-repeat;
}
#content .home-make-complaint .complaint > span:first-child {
  background: url("../images/complaint.png") no-repeat;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        left:-20px;
}
#content .home-forms-listing .formtitle > span:first-child {
  background: url("../images/form.png") no-repeat;
}
