//Homepage top block 
#block-block-1 {
	background-image:$bg-home;
}
#block-block-1 ul {
	float: right;
	list-style-type:none;
}
#block-block-1 li {
	background-color:rgba(39,116,156,0.7);
	margin-bottom:10px;
	padding:10px;
	border: 1px solid white;
}
#block-block-1 h6 {
	font: $title-h6;
	color: #fff;
	margin-top:5%;
}
#block-block-1 li a {
	color: #fff;
	font-size: 18px;
	font: $font-body-semibold;
	text-transform:uppercase;
}

#block-block-1 a {
	color: #fff;
	font-size: 18px;
	font: $font-body-semibold;
	text-transform:uppercase;
	background-color:rgba(39,116,156,1);
	margin-bottom:10px;
	padding:10px;
}

#block-block-1 a:hover {
	color: #fff;
	font-size: 18px;
	font: $font-body-semibold;
	text-transform:uppercase;
	background-color:rgba(39,116,156,0.7);
	margin-bottom:10px;
	padding:10px;
}

#block-quicktabs-homepage-search ul {
	margin-top:5%;
	margin-bottom:0px;
	text-align: center;
}
#block-quicktabs-homepage-search li.active {
	background-color:$grey;
}
#block-quicktabs-homepage-search a {
	margin-top:5%
}
#block-block-6 {
	background-color:$grey;
}
#block-block-6 ul {
	text-align: center;

}