$dark-blue: #143d55;
$dark-grey: #747474;
$grey: #d2d7d3;
$light-grey: #eeefee;
$blue: #27749c;
$link-blue: #337ab7;
$blue-hover: rgba(39,116,156,0.7);
$dark-red: #ec0027;
$charcoal: #333;
$white: #fff;
$black: #000;