$bg-home: url("../images/bg/home.jpg");
$bg-become: url("../images/bg/become-registered.jpg");
$bg-registered: url("../images/bg/community.jpg");
$bg-community: url("../images/bg/registered.jpg");
$bg-resources: url("../images/bg/resources.jpg");

$bg-title-home:"bg/home.jpg";
$bg-title-become:"bg/become-registered.jpg";
$bg-title-registered:"bg/community.jpg";
$bg-title-community:"bg/registered.jpg";
$bg-title-resources:"bg/resources.jpg";